.button {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  background-color: var(--decor);
  color: var(--second);
  transition: all .3s ease;

  &:hover:not(:disabled) {
    transform: scale(1.2);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }
}