.header {
  background-position: center;
  background-size: cover;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (width < 480px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
  }
}
